*,
* ::before
* ::after {
    box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: Roboto, sans-serif;
    color: #434455;
}
section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left: 0%;
}
h1,
h2,
h3,
p,
ul, 
ol {
    margin: 0;
    padding:  0;
    list-style: none;
}

img {
    display: block;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.nav-container-general{
    display: flex;
    height: 72px;
    justify-content: space-around;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: flex-start;
    flex-direction: row;
}

.general-container{
    display: flex;
    justify-content: space-between;
    width: 1158px;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    height: 21px;
}

.logo-studio {
    color: #2e2f42;
    height: 21px;
}

.nav-container-logo{
    padding-right: 76px;
    padding-left: 156px;
}

.nav-container {
    display: flex;
    gap: 40px;
    margin: 0 auto;
    align-items: center;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: 48px;
    height: 24px;
    padding: 24px 0 24px 0;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.nav-address {
    font-style: normal;
}

.nav-address-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-right: 40px;
}

.nav-address-mail:hover {
    color: #404bbf;
}

.nav-address-mail:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}

.first-element{
    padding-top: 188px;
    padding-bottom: 188px;
}

.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    width: 496px;
    margin-bottom: 48px;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.second-section-main{
    display: flex;
    gap: 24px;
   
    margin-left: 156px;
    margin-top: 120px;
    margin-right: 156px;
    margin-bottom: 120px;
}

.second-section-item{
    width: calc((100%-72) /4);
}

.second-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    height: 72px;
    padding-top: 8px;
    text-align: left;
}

.third-section {
    background-color: #F4F4FD;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.third-section-main{
display: flex;
    gap: 24px;
}
    

.third-section-photo {
    background-color: #FFFFFF;
    width: calc((100%-72) /4);
}

.third-section-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
    text-align: center;
}

.third-section-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-bottom: 32px;
    text-align: center;
}

.title-portfolio {
    color: #2E2F42;
    text-align: center;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.title-portfolio-main{
    display: flex;
    gap: 24px;
    width: calc((100%-120) /6);
    flex-wrap: wrap;
}

.description-portfolio {
color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.description-portfolio-text {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
        padding-left: 16px;
}

.footer-info {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-main{
    display: block;
    padding-top: 101px;
    padding-left: 156px;
}


.logo-studio-lower {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    padding-top: 17px;
    padding-bottom: 100px;
    width: 264px;
}





