*,
* ::before
* ::after {
    box-sizing: border-box;
}
body {
    background: #FFF;
    font-family: Roboto, sans-serif;
    color: #434455;
}
section {
    padding-top: 120px;
    padding-bottom: 120px;
    margin-left: 0%;
}
h1,
h2,
h3,
p,
ul {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}


.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    height: auto 21px;
}

.logo-studio {
    color: #2e2f42;
    height: auto 21px;
}

.nav-container-logo{
    height: fixed 24px;
    margin-right: 76px;
}

.nav-container {
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: flex-start;
    width: 1440px;
    margin: 0 auto;

}
.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    width: auto 48px;
    height: auto 24px;
}
.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.nav-address {
    font-style: normal;
}

.nav-address-mail {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-address-mail:hover {
    color: #404bbf;
}

.nav-address-mail:focus {
    color: #404bbf;
}

.first-section {
    background-color: #2e2f42;
}

.first-section-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    height: 1440px;
    
    margin-right: auto;
}

.first-section-element {
    display: block;
    width: 1440px;
    height: 600px;
    flex-shrink: 0;
    padding: 0;
    border: 0;
    margin-left: auto;
    text-align: center;
}

.first-section-button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    width: auto 169px;
    height: auto 56px;
    padding-left: 32px;
    padding-top: 16px;
    padding-right: 32px;
    padding-bottom: 16px;
    margin-left: 636px;
    margin-top: 356px;
    margin-right: 635px;
    margin-bottom: 188px;
    height: 24px;
}

.first-section-button:hover {
    background-color: #404BBF;
}

.first-section-button:focus {
    background-color: #404BBF;
}

.second-section-main{
    display: flex;
    gap: 24px;
}

.second-section-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.second-section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
}

.third-section {
    background-color: #F4F4FD;
}

.third-section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.third-section-main{
    display: flex;
    gap: 24px;
}

.third-section-photo {
    background-color: #FFFFFF;
}

.third-section-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 32px;
}

.third-section-profession {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 8px;
    padding-bottom: 32px;
}

.title-portfolio {
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}

.title-portfolio-main{
    display: flex;
    gap: 24px;
}

.description-portfolio {
color: #2E2F42;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding-top: 32px;
    padding-bottom: 8px;
}
.description-portfolio-text {
    color: #434455;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding-bottom: 32px;
}

.footer-info {
    background-color: #2e2f42;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}


.logo-studio-lower {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

ul {
    list-style-type: none;
}

a:link {
    text-decoration: none;
}

.container {
    max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-right:0;
        width: 1158px;
}


